/dev_accessKeys.csv
/file-space-desktop
/__init__.py
/src/schemas/__init__.py
/src/models/__init__.py
/src/auth/__init__.py
/src/config/__init__.py
/src/core/__init__.py
/src/schemas/__pycache__
/src/models/__pycache__
/src/auth/__pycache__
/src/auth/.env
/src/config/__pycache__
/src/config/.env
/src/core/__pycache__
/tests/__init__.py
/src/__init__.py
/logs.txt
/src/sync.py
/files_info.txt
/sync.py
/.env
/src/test.py
/.env
/my_db.db